// Font

$mainFont: 'Poppins', Helvetica, Arial, sans-serif;

// Mobile first

$mediaWidthMobile: 576px;
$mediaWidthMobileMin: 414px;
$mediaWidthTablet: 768px;

// Size

$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.42;

// Main color

$mainfont-color: #ffffff;
$main-color: #000000;
$default-color: #ff910d;
