// Font

$mainFont                : "Poppins", Helvetica, Arial, sans-serif;

// Mobile first

$mediaWidthMobile: 375px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Size

$mainFontSize            : 24px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$mainfont-color          : #FFFFFF;
$main-color              : #000000;
$default-color           : #FF910D;