.aboutme {
  padding: rem(80) 0;
  @include media-mobile-min {
    padding: rem(40) 0;
  }
  &__title {
    position: absolute;
    width: rem(400);
    @include media-custom(1160px) {
      position: relative;
    }
    @include media-tablet {
      width: 100%;
      text-align: center;
      margin-bottom: rem(40);
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(22);
    @include media-mobile {
      display: block;
    }
  }
  &__item {
    @include media-tablet {
      width: 100%;
      &:first-child {
        order: 1;
      }
      &:nth-child(2) {
        order: 0;
      }
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 2;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 4;
      }
      &:nth-child(7) {
        order: 7;
      }
      &:nth-child(8) {
        order: 6;
      }
    }
    &--image {
      justify-self: self-end;
      @include media-mobile {
        margin-bottom: rem(40);
      }
    }
    &--text {
      @include font-source(rem(22), 300);
      align-self: self-end;
      @include media-mobile {
        margin-bottom: rem(40);
      }
    }
    &:nth-child(4),
    &:last-child {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        background: $default-color;
        z-index: -1;
      }
    }
    &:nth-child(4) {
      &:after {
        height: rem(100);
        right: 20%;
        bottom: -10%;
      }
    }
    &:last-child {
      &:after {
        height: rem(80);
        left: 20%;
        bottom: -20%;
      }
    }
  }
  &__photo {
    width: rem(640);
    object-fit: cover;
    object-position: center;
    border-radius: 0.15rem;
  }
}
