.aboutme {
  &__title {
    position: absolute;
    right: 51%;
    @include media-tablet {
      position: relative;
      right: 0;
      text-align: right;
      font-size: rem(36);
    }
    @include media-tablet-horizontal {
      font-size: rem(30);
    }
    @include media-mobile {
      font-size: rem(22);
    }
    @include media-mobile-horizontal {
      font-size: rem(26);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: rem(134);
      height: rem(12);
      bottom: 27%;
      right: 104%;
      background: $default-color;
      @include media-tablet {
        width: rem(340);
        height: rem(8);
        right: 68%;
      }
      @include media-mobile {
        width: rem(85);
        height: rem(4);
        bottom: 25%;
        right: 84%;
      }
      @include media-mobile-horizontal {
        right: 66%;
      }
      @include media-mobile-min {
        right: 98%;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(16);
    margin-bottom: rem(200);
    @include media-tablet {
      grid-template-columns: 1fr;
      grid-gap: rem(48);
      margin-bottom: rem(60);
    }
    @include media-tablet-horizontal {
      margin-bottom: rem(100);
    }
    @include media-mobile {
      grid-gap: rem(16);
      margin-bottom: rem(40);
    }
  }
  &__item {
    @include media-tablet {
      width: 100%;
      &:first-child {
        order: 1
      }
      &:nth-child(2) {
        order: 0
      }
      &:nth-child(3) {
        order: 3
      }
      &:nth-child(4) {
        order: 2
      }
      &:nth-child(5) {
        order: 5
      }
      &:nth-child(6) {
        order: 4
      }
      &:nth-child(7) {
        order: 7
      }
      &:nth-child(8) {
        order: 6
      }
    }
    &--image {
      justify-self: self-end;
    }
    &--text {
      font-weight: 300;
      align-self: self-end;
      @include media-tablet {
        font-size: rem(22);
        text-align: left;
        padding: rem(20) 0;
      }
      @include media-mobile {
        font-size: rem(14);
      }
    }
    &:nth-child(2) {
      position: relative;
      @include media-tablet {
        padding-top: rem(100);
      }
      @include media-mobile {
        padding-top: rem(60);
      }
    }
    &:nth-child(4) {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: rem(12);
        height: rem(40);
        bottom: -8%;
        right: 20%;
        background: $default-color;
        z-index: -1;
        @include media-tablet {
          height: rem(8);
          width: rem(40);
          right: -6%;
          bottom: 30%;
        }
        @include media-mobile {
          height: rem(4);
        }
      }
    }
    &:nth-child(5) {
      @include media-tablet {
        padding-right: 20%;
      }
      @include media-mobile {
        padding-right: 14%;
      }
      @include media-tablet {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: rem(8);
          height: rem(450);
          top: -40%;
          right: 7%;
          background: $default-color;
          z-index: -1;
        }
      }
      @include media-mobile {
        &::after {
          top: -20%;
          width: rem(4);
          height: rem(230);
        }
      }
    }
    &:nth-child(6) {
      position: relative;
      margin-bottom: 0;
      @include media-tablet {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: rem(40);
          height: rem(8);
          top: 30%;
          left: -6%;
          background: $default-color;
          z-index: -1;
        }
      }
      @include media-mobile {
        &::after {
          height: rem(4);
        }
      }
    }
    &:nth-child(5), &:last-child {
      position: relative;
    }
  }
  &__text {
    text-align: right;
    @include media-tablet-horizontal {
      font-size: rem(20);
    }
  }
  &__photo {
    width: rem(640);
    object-fit: cover;
    object-position: center;
    border-radius: 0.15rem;
    @include media-tablet {
      width: 100%;
      height: 100%;
    }
  }
}