section.aboutme
  h2.title.aboutme__title POR QUÉ ME ELIGEN A MÍ?
  ul.aboutme__list
    li.aboutme__item.aboutme__item--text
      span.aboutme__text Desde hace más de 6 años he trabajado en el sector de los interiores e inmobiliaria. Esto me ha permitido centrarme en este ámbito y tener un conocimiento mucho más profundo de los detalles de la toma y la edición.
    li.aboutme__item.aboutme__item--image
      img.aboutme__photo(src="./img/photo@2x.jpeg" srcset='./img/photo@2x.jpeg 1.25x, ./img/photo@3x.jpeg 2.25x' alt="dormitorio")
    li.aboutme__item.aboutme__item--text
      span.aboutme__text Mis fotos venden porque elijo los mejores ángulos y sé cómo capturar correctamente cualquier espacio. Toda la serie dará una imagen completa del apartamento y reducirá las dudas del cliente.
    li.aboutme__item.aboutme__item--image
      img.aboutme__photo(src="./img/photo@2x.jpeg" srcset='./img/photo@2x.jpeg 1.25x, ./img/photo@3x.jpeg 2.25x' alt="dormitorio")
    li.aboutme__item.aboutme__item--text
      span.aboutme__text Fotografío con eficiencia y garantizo la entrega de las fotos en 2 días laborales (para pedidos de hasta 25 fotos).	Al mismo tiempo, cada imagen se procesa individualmente con un resultado pulido y atractivo.
    li.aboutme__item.aboutme__item--image
      img.aboutme__photo(src="./img/photo@2x.jpeg" srcset='./img/photo@2x.jpeg 1.25x, ./img/photo@3x.jpeg 2.25x' alt="dormitorio")
    li.aboutme__item.aboutme__item--text
      span.aboutme__text Ofrezco una galería con previstas de la cual puedes elegir las fotos mas destacables, lo que te permitirá sacar el máximo partido a cada sesión fotográfica. Válido para encargos a partir de 20 fotos.
    li.aboutme__item.aboutme__item--image
      img.aboutme__photo(src="./img/photo@2x.jpeg" srcset='./img/photo@2x.jpeg 1.25x, ./img/photo@3x.jpeg 2.25x' alt="dormitorio")