include ../../components/logo/logo.pug
include ../../components/contact/contact.pug

header.header
  .header__logo
    +logo('img/svg/logo.svg', 'logo')
  .header__contact
    +contact('+675371987', '+675 371 987', 'BARCELONA')
  h1.header__title aquí puedes pedir fotos profesionales de una propiedad y recibirlas en 2 días


