.header {
  height: rem(380);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: rem(16);
  @include media-mobile {
    height: rem(200);
  }
  .logo {
    &::after {
      height: rem(230);
      top: rem(-232);
      left: rem(327);
      @include media-tablet {
        height: rem(86);
        top: rem(-90);
        left: 82%;
      }
      @include media-tablet-horizontal {
        left: 82%;
      }
    }
  }
  &__title {
    @include font-source (rem(34), 400);
    text-align: right;
    text-transform: uppercase;
    justify-self: end;
    align-self: end;
    @include media-tablet {
      width: 100%;
      grid-area: 2/1/3/3;
      justify-self: center;
      text-align: center;
    }
    @include media-tablet-horizontal {
      font-size: rem(30);
      width: 100%;
    }
    @include media-mobile {
      font-size: rem(16);
    }
    @include media-mobile-horizontal {
      font-size: rem(30);
    }
  }
  &__logo {
    grid-area: 1/1/3/2;
    align-self: end;
    @include media-tablet {
      grid-area: 1/1/2/2;
    }
  }
  &__contact {
    position: relative;
    justify-self: end;
    align-self: center;
    margin-right: rem(70);
    padding-top: rem(22);
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: rem(70);
      height: rem(12);
      top: 62%;
      left: 100%;
      background: $default-color;
      @include media-tablet {
        width: rem(140);
        height: rem(8);
        top: 80%;
      }
      @include media-mobile {
        height: rem(4);
        top: 84%;
        left: 104%;
      }
    }
    @include media-tablet {
      align-self: end;
      margin-right: 0;
    }
  }
}