-
  const reviewsList = [
    'El anuncio se ve m치s atractivo!',
    'Recibimos m치s llamadas!',
    'Aumentan las visitas y vendemos m치s r치pido!'
  ]

section.reviews
  h2.title.reviews__title LO QUE DICEN MIS CLIENTES:
  ul.reviews__list
    each item in reviewsList
      li.reviews__item= item



