.reviews {
  display: flex;
  padding: rem(80) 0;
  @include media-mobile-min {
    padding: rem(40) 0;
  }
  @include media-tablet {
    flex-direction: column;
  }
  &__title {
    position: relative;
    align-self: center;
    margin-right: rem(50);
    @include media-tablet {
      margin-right: 0;
      margin-bottom: rem(40);
    }
    &::after {
      @include media-tablet {
        content: '';
        display: block;
        position: absolute;
        width: rem(8);
        height: rem(60);
        top: 10%;
        left: 100%;
        background: $default-color;
      }
    }
  }
  &__list {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url('../img/svg/quotes.svg');
      width: rem(40);
      height: rem(40);
      background-size: rem(40) rem(40);
      background-repeat: no-repeat;
    }
    &::before {
      left: -12%;
      top: -9%;
    }
    &::after {
      right: 0;
      bottom: -10%;
    }
  }
  &__item {
    font-size: rem(34);
    margin-bottom: rem(40);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
