.reviews {
  display: flex;
  justify-content: center;
  padding-bottom: rem(270);
  @include  media-tablet-horizontal {
    padding-bottom: 0;
  }
  @include media-tablet {
    display: block;
    padding-bottom: 0;
  }
  &__title {
    position: relative;
    width: 50%;
    font-size: rem(60);
    align-self: center;
    padding-right: rem(260);
    padding-bottom: rem(54);
    padding-left: rem(146);
    @include media-tablet-horizontal {
      padding: 0;
    }
    @include media-tablet {
      width: 100%;
      font-size: rem(30);
      padding: 0;
      margin-bottom: rem(60);
    }
    @include media-mobile-horizontal {
      font-size: rem(28);
    }
    @include media-mobile {
      font-size: rem(16);
    }
    &::after {
      @include media-tablet {
        content: '';
        display: block;
        position: absolute;
        width: rem(8);
        height: rem(60);
        top: 10%;
        left: 66%;
        background: $default-color;
      }
      @include media-mobile-horizontal {
        left: 74%;
      }
      @include media-mobile {
        width: rem(4);
        height: rem(50);
        left: 74%;
      }
      @include media-mobile-horizontal {
        left: 84%;
      }
      @include media-mobile-min {
        left: 86%;
      }
    }
  }
  &__list {
    position: relative;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url('../img/svg/quotes.svg');
      width: rem(80);
      height: rem(80);
      background-size: rem(80) rem(80);
      background-repeat: no-repeat;
      @include media-tablet {
        width: rem(50);
        height: rem(50);
        background-size: rem(50) rem(50);
      }
      @include media-mobile {
        width: rem(30);
        height: rem(30);
        background-size: rem(30) rem(30);
      }
    }
    &::before {
      left: -17%;
      top: -9%;
      @include media-tablet {
        left: 3%;
        top: -10%;
      }
      @include media-mobile {
        left: 0%;
        top: -10%;
      }
    }
    &::after {
      right: 1%;
      bottom: 8%;
      @include media-tablet-horizontal {
        right: -5%;
        bottom: 8%;
      }
      @include media-tablet {
        right: 28%;
        bottom: -8%;
      }
      @include media-mobile {
        right: 20%;
      }
      @include media-mobile-horizontal {
        right: 3%;
      }
      @include media-mobile-min {
        right: 8%;
      }
    }
    @include media-tablet {
      padding: 0 rem(100);
      margin-bottom: rem(80);
    }
    @include media-mobile {
      padding: 0 rem(40);
    }
  }
  &__item {
    font-size: rem(40);
    margin-bottom: rem(64);
    &:last-child {
      width: rem(500);
      @include media-tablet{
        width: rem(400);
      }
      @include media-mobile {
        width: 100%;
      }
    }
    @include media-tablet {
      font-size: rem(28);
      margin-bottom: rem(40);
    }
    @include media-mobile {
      font-size: rem(16);
      margin-bottom: rem(30);
    }
  }
}