$animation_reveal-duration: 1s;
$animation_reveal-stagger: $animation_reveal-duration / 2;

body {
  cursor: url(../img/svg/cursor.svg), pointer;
}

.cursor {
  position: absolute;
  background: url(../img/svg/cursor-orange.svg);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  z-index: 1;
  opacity: .5;
  transition: ease-in .05s;
  @include media-tablet {
    display: none;
  }
  @include media-tablet-horizontal {
    display: none;
  }
}

.cursor-hidden {
  display: none;
}