.logo {
  position: relative;
  width: rem(440);
  height: rem(146);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: rem(13);
    background: $default-color;
  }
}