.logo {
  position: relative;
  width: rem(440);
  height: rem(146);
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -160%;
    left: 82%;
    height: rem(220);
    width: rem(13);
    background: $default-color;
  }
}