extends layouts/default
include helpers/mixins

block variables
	- const title = "bypablo"

block content
	include ../blocks/components/cursor/cursor
	.wrapper
		.container
			include ../blocks/modules/header/header
			include ../blocks/modules/main/main
			include ../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")