extends layouts/default
include helpers/mixins

block variables
	- const title = "bypablo"

block content
	.wrapper
		.container
			include ../blocks/modules/header/header


block scripts
	script(src="js/main.js")