include ../../components/budget-btn/budget-btn.pug

-
  const mainPhotosTop = [
  {src:'./img/photo_11.webp', alt:'habitación'},
  {src:'./img/photo_10.webp', alt:'balcón'},
  {src:'./img/photo_9.webp', alt:'dormitorio'},
  {src:'./img/photo_8.webp', alt:'cocina'},
  ]

-
  const mainPhotosBottom = [
  {src:'./img/photo_4.webp', alt:'calle'},
  {src:'./img/photo_10.webp', alt:'balcón'},
  {src:'./img/photo_3.webp', alt:'sala'},
  {src:'./img/photo_2.webp', alt:'baño'},
  ]

-
  const mainTexts = [
  'Quieres aumentar el número de visitas',
  'Pocas llamadas después del anuncio',
  'Necesitas vender un piso más rápido',
  'Quieres que tu anuncio destaque',
  'Las fotos del móvil se ven poco atractivas'
  ]

main.main
  ul.main__list.main__list--top
    each photo in mainPhotosTop
      li.main__item
        img.main__photo(src= photo.src alt= photo.alt)
  include ../../components/answer/answer.pug
  include ../../components/aboutme/aboutme.pug
  include ../../components/steps/steps.pug
  include ../../components/reviews/reviews.pug
  include ../../components/price/price.pug
  ul.main__list.main__list--bottom
    each photo in mainPhotosBottom
      li.main__item
        img.main__photo(src= photo.src alt= photo.alt)