.contact {
  font-weight: 300;
  @include media-mobile {
    font-size: rem(16);
  }
  &__number {
    position: relative;
    font-family: Jost;
    margin-right: rem(20);
    padding: rem(8) 0;
    cursor: url(../img/svg/cursor-big.svg), pointer;
    z-index: 999;
    @include media-mobile {
      margin-right: 0;
    }
  }
  &__address {
    font-size: rem(22);
    margin-right: rem(18);
    @include media-tablet {
      display: block;
      margin-top: rem(-6);
    }
    @include media-mobile {
      font-size: rem(16);
      margin-right: 0;
    }
  }
}