.contact {
  font-weight: 300;
  @include media-mobile {
    font-size: rem(16);
  }
  &__number {
    font-family: Jost;
    margin-right: rem(20);
    @include media-mobile {
      margin-right: 0;
    }
  }
  &__address {
    font-size: rem(22);
    margin-right: rem(18);
    @include media-tablet {
      display: block;
      margin-top: rem(-6);
    }
  }
}