.answer
  ul.answer__list
    each text in mainTexts
      li.answer__item= text
  span.answer__icon ?
  .answer__budget
    +budget-btn
    span.answer__text Responde 3 preguntas para calcular el precio