.answer {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-bottom: rem(116);
  @include media-tablet{
    display: block;
    padding-bottom: 0;
  }
  &__list {
    font-size: rem(28);
    @include media-tablet {
      margin-bottom: rem(50);
    }
  }
  &__item {
    margin-bottom: rem(22);
    @include media-tablet {
      margin-bottom: rem(20);
    }
    @include media-tablet-horizontal {
      font-size: rem(20);
    }
    @include media-mobile-horizontal {
      font-size: rem(20);
    }
    @include media-mobile {
      margin-bottom: rem(6);
      font-size: rem(14);
    }
    &:first-child {
      padding-left: rem(120);
      @include media-tablet {
        padding-left: 0;
      }
    }
    &:nth-child(2) {
      padding-left: rem(86);
      @include media-tablet {
        padding-left: rem(40);
      }
      @include media-mobile {
        padding-left: rem(20);
      }
    }
    &:nth-child(3) {
      padding-left: rem(28);
      @include media-tablet {
        padding-left: 0;
      }
    }
    &:nth-child(4) {
      padding-left: rem(160);
      @include media-tablet {
        padding-left: rem(100);
      }
      @include media-mobile {
        padding-left: rem(46);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    font-family: Cocogoose;
    @include font-source (rem(288), 650);
    opacity: .07;
    @include media-tablet {
      position: absolute;
      @include font-source (rem(180), 650);
      top: 5%;
      right: 2%;
    }
    @include media-tablet-horizontal {
      font-size: rem(160);
    }
    @include media-mobile {
      @include font-source (rem(78), 650);
    }
    @include media-mobile-horizontal {
      font-size: rem(160);
      right: 0;
    }
    @include media-mobile-min {
      top: 40%;
      right: 6%;
    }
  }
  &__budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: rem(62);
    padding-bottom: rem(120);
    width: rem(280);
    @include media-tablet {
      padding: 0;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: rem(100);
    }
    @include media-tablet-horizontal {
      padding-top: 0;
      padding-bottom: 0;
    }
    @include media-mobile {
      margin-bottom: rem(60);
    }
  }
  &__text {
    @include media-tablet {
      width: 45%;
    }
    @include media-tablet-horizontal {
      font-size: rem(20);
    }
    @include media-mobile {
      width: rem(160);
      font-size: rem(12);
      margin: 0;
    }
    @include media-mobile-horizontal {
      font-size: rem(20);
    }
  }
}