.price {
  &__title {
    position: relative;
    margin-bottom: rem(86);
    padding-left: 23%;
    @include media-tablet {
      font-size: rem(36);
      margin-bottom: rem(60);
      text-align: right;
    }
    @include media-tablet-horizontal {
      font-size: rem(30);
    }
    @include media-mobile {
      font-size: rem(22);
      margin-bottom: rem(40);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 22%;
      height: rem(12);
      bottom: 44%;
      left: 0%;
      background: $default-color;
      @include media-tablet {
        width: 58%;
        height: rem(8);
        bottom: 24%;
        left: -6%
      }
      @include media-mobile {
        left: -16%;
        height: rem(4);
      }
      @include media-mobile-horizontal {
        left: -12%;
      }
      @include media-mobile-min {
        left: -25%;
      }
    }
  }
  &__column {
    display: flex;
    @include media-tablet {
      display: block;
    }
  }
  &__list {
    flex-basis: 50%;
    padding-right: rem(14);
    @include media-tablet {
      margin-bottom: rem(60);
    }
    @include media-tablet {
      padding-right: 0;
    }
    @include media-mobile {
      padding-right: 0;
    }
  }
  &__item {
    margin-bottom: rem(42);
    text-align: right;
    &:first-child {
      margin-left: auto;
    }
    &:nth-child(2) {
      @include media-mobile {
        width: 84%;
        margin-left: auto;
      }
    }
    &:last-child {
      margin-bottom: 0;
      @include media-mobile {
        width: 100%;
      }
    }
    @include media-mobile {
      font-size: rem(14);
      margin-bottom: rem(20);
    }
  }
  &__click {
    position: relative;
    color: $default-color;
    cursor: url(../img/svg/cursor-big.svg), pointer;
    z-index: 999;
  }
  &__box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include media-tablet {
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    @include media-tablet-horizontal {
      justify-content: space-around;
    }
  }
  &__btn {
    @include media-mobile {
      margin-right: 0;
    }
    @include media-mobile-horizontal {
      margin-right: 0;
    }
  }
}