.footer {
  height: rem(300);
  &__logo {
    padding-right: rem(156);
    @include media-tablet {
      padding-right: 0;
    }
    @include media-tablet-horizontal {
      padding-right: 0;
    }
  }
  .logo {
    margin-left: auto;
    &::after {
      height: rem(200);
      top: rem(139);
      left: rem(151);
      @include media-tablet {
        height: rem(120);
        top: 100%;
        left: rem(113);
      }
      @include media-mobile {
        left: rem(60);
      }
    }
    &__picture {
      margin-left: auto;
    }
  }
  @include media-tablet {
    height: rem(220);
    margin-left: auto;
  }
  @include media-mobile {
    height: rem(100);
  }
}