.steps {
  &__title {
    position: relative;
    margin-bottom: rem(170);
    padding-right: rem(34);
    text-align: right;
    @include media-tablet-horizontal {
      font-size: rem(30);
    }
    @include media-tablet {
      font-size: rem(36);
      padding-right: 0;
      margin-bottom: rem(100);
    }
    @include media-mobile-horizontal {
      font-size: rem(28);
    }
    @include media-mobile {
      font-size: rem(22);
      margin-bottom: rem(40);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: rem(10);
      height: rem(290);
      bottom: 20%;
      right: 38%;
      background: $default-color;
      z-index: -1;
      @include media-tablet {
        width: rem(340);
        height: rem(8);
        right: 57%;
        bottom: 20%;
      }
      @include media-tablet-horizontal {
        right: 44%;
      }
      @include media-mobile-horizontal {
        right: 60%;
      }
      @include media-mobile {
        width: rem(126);
        height: rem(4);
        right: 72%;
        bottom: rem(6);
      }
      @include media-mobile-min {
        left: -26%;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: rem(300);
    @include media-tablet {
      flex-direction: column;
      margin-bottom: rem(60);
    }
    @include media-tablet-horizontal {
      margin-bottom: rem(170);
    }
    @include media-mobile-horizontal {
      margin-bottom: rem(40);
    }
    @include media-mobile-min {
      margin-bottom: rem(40);
    }
  }
  &__text {
    position: absolute;
    @include media-tablet {
      position: static;
    }
    @include media-mobile {
      font-size: rem(16);
    }
  }
  &__item {
    position: relative;
    font-size: rem(32);
    margin-left: rem(-120);
    @include media-tablet {
      display: flex;
      margin-bottom: rem(40);
      margin-left: 0;
    }
    @include media-tablet-horizontal {
      font-size: rem(26);
    }
    @include media-mobile {
      margin-bottom: rem(20);
    }
    &:first-child {
      .steps__text {
        top: 28%;
        right: -42%;
        @include media-tablet-horizontal {
          right: -24%;
        }
      }
    }
    &:nth-child(2) {
      @include media-tablet {
        padding-left: 15%;
      }
      .steps__text {
        width: rem(140);
        top: 60%;
        right: 6%;
        text-align: right;
        @include media-tablet-horizontal {
          right: 12%;
          top: 56%;
        }
        @include media-mobile {
          width: 100%;
          text-align: left;
        }
      }
    }
    &:nth-child(3) {
      @include media-tablet {
        padding-left: 30%;
      }
      .steps__text {
        top: 16%;
        right: -3%;
        @include media-tablet-horizontal {
          right: 8%;
        }
      }
    }
    &:last-child {
      @include media-tablet {
        padding-left: 48%;
      }
      .steps__text {
        width: rem(200);
        top: 44%;
        right: -12%;
        text-align: right;
        @include media-mobile {
          width: 45%;
          text-align: left;
        }
      }
    }
  }
  &__icon {
    height: rem(216);
    fill: $main-color;
    fill-opacity: 0.1;
    &--color {
      fill: $default-color;
      fill-opacity: 0.65;
    }
    @include media-tablet {
      width: rem(100);
      height: rem(100);
    }
    @include media-tablet-horizontal {
      height: rem(160);
    }
    @include media-mobile {
      width: rem(60);
      height: rem(60);
    }
  }
}