.budget-btn {
  position: relative;
  @include font-source (rem(36), 500);
  background: transparent;
  outline: none;
  border: 0;
  color: $default-color;
  transition: ease-in-out .2s;
  @include media-mobile {
    font-size: rem(16);
  }
  &:hover {
    font-size: rem(38);
    transition: ease-in-out .2s;
    &::before {
      bottom: rem(-2);
      left: rem(-10);
    }
    &::after {
      top: rem(-1);
      right: rem(-10);
    }
  }
  &::before, &::after {
    position: absolute;
    content: '';
    display: block;
    background-size: rem(20) rem(20);
    background-repeat: no-repeat;
    width: rem(20);
    height: rem(20);
    transition: ease-in-out .2s;
    @include media-mobile {
      background-size: rem(10) rem(10);
      width: rem(10);
      height: rem(10);
    }
  }
  &::before {
    background-image: url('../../../img/svg/corner-left.svg');
    bottom:rem(-12);
    left: rem(-20);
    @include media-mobile {
      bottom:rem(-5);
      left: rem(-7);
    }
  }
  &::after {
    background-image: url('../../../img/svg/corner-right.svg');
    top: rem(-8);
    right: rem(-16);
    @include media-mobile {
      top: rem(-7);
      right: rem(-5);
    }
  }
}