.budget-btn {
  position: relative;
  @include font-source (rem(36), 500);
  background: transparent;
  outline: none;
  border: 0;
  color: $default-color;
  transition: ease-in-out .2s;
  cursor: url(../img/svg/cursor-big.svg), pointer;
  padding: rem(4) rem(24);
  z-index: 999;
  &:hover {
    font-size: rem(38);
    transition: ease-in-out .2s;
    &::before {
      bottom: rem(4);
      left: rem(10);
    }
    &::after {
      top: rem(4);
      right: rem(10);
    }
  }
  @include media-mobile {
    padding: rem(4) rem(10);
    font-size: rem(16);
  }
  @include media-mobile-horizontal {
    padding: rem(4) rem(14);
    font-size: rem(20);
  }
  &::before, &::after {
    position: absolute;
    content: '';
    display: block;
    background-size: rem(20) rem(20);
    background-repeat: no-repeat;
    width: rem(20);
    height: rem(20);
    transition: ease-in-out .2s;
    @include media-tablet-horizontal {
      background-size: rem(14) rem(14);
      width: rem(14);
      height: rem(14);
    }
    @include media-mobile {
      background-size: rem(10) rem(10);
      width: rem(10);
      height: rem(10);
    }
  }
  &::before {
    background-image: url('../img/svg/corner-left.svg');
    bottom:0;
    left: 0;
    @include media-tablet {
      bottom: 0;
      left: 0;
    }
  }
  &::after {
    background-image: url('../img/svg/corner-right.svg');
    top: 0;
    right: 0;
    @include media-tablet {
      top: 0;
      right: 0;
    }
  }
}