.budget-btn {
  position: relative;
  @include font-source (rem(36), 500);
  background: transparent;
  outline: none;
  border: 0;
  color: $default-color;
  @include media-mobile {
    font-size: rem(16);
  }
  &::before, &::after {
    position: absolute;
    content: '';
    display: block;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    @include media-mobile {
      background-size: 10px 10px;
      width: 10px;
      height: 10px;
    }
  }
  &::before {
    background-image: url('../../../img/svg/corner-left.svg');
    bottom:-4px;
    left: -16px;
    @include media-mobile {
      bottom:-5px;
      left: -7px;
    }
  }
  &::after {
    background-image: url('../../../img/svg/corner-right.svg');
    top: -4px;
    right: -16px;
    @include media-mobile {
      top:-7px;
      right: -5px;
    }
  }
}