@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url('../../fonts/Cocogoose-Classic-Medium.woff2') format('woff2'),
      url('../../fonts/CocogooseClassic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose-ExtraBold';
  src: url('../../fonts/Cocogoose-Classic-Medium.woff2') format('woff2'),
      url('../../fonts/CocogooseClassic-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}