.advantage {
  position: relative;
  &__title {
    position: absolute;
    right: 54%;
    @include media-tablet {
      font-size: rem(36);
      right: 0;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: rem(182);
      height: rem(12);
      bottom: 27%;
      left: rem(-200);
      background: $default-color;
      @include media-tablet {
        width: rem(340);
        height: rem(8);
        left: rem(-360);
      }
      @include media-mobile {
        height: rem(4);
        width: rem(85);
        bottom: 56%;
        left: -38%;
      }
      @include media-custom(320px) {
        left: -34%;
      }
    }
    @include media-mobile {
      font-size: rem(22);
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(210);
    @include media-tablet {
      position: relative;
      margin-bottom: 0;
    }
  }
  &__list-text {
    @include media-tablet {
      margin-bottom: rem(120);
    }
    @include media-mobile {
      margin-bottom: rem(60);
    }
    @include media-custom(320px) {
      margin-bottom: rem(40);
    }
  }
  &__item-text {
    width: rem(704);
    font-weight: 300;
    margin-bottom: rem(136);
    margin-right: rem(10);
    text-align: right;
    @include media-tablet {
      margin-bottom: rem(460);
    }
    @include media-mobile {
      font-size: rem(14);
      width: 100%;
      margin-bottom: rem(250);
      text-align: left;
    }
    @include media-custom(320px) {
      margin-bottom: rem(200);
    }
    &:nth-child(1) {
      padding-top: rem(150);
      @include media-tablet {
        padding-top: rem(100);
      }
      @include media-mobile{
        padding-top: rem(50);
      }
    }
    &:nth-child(3) {
      @include media-tablet {
        width: 84%;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-image {
    position: relative;
    width: rem(640);
    margin-bottom: rem(10);
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      &::after {
        @include media-tablet {
          content: '';
          display: block;
          position: absolute;
          width: rem(44);
          height: rem(8);
          bottom: 27%;
          right: rem(-38);
          background: $default-color;
          z-index: -1;
        }
        @include media-mobile {
          height: rem(4);
        }
      }
    }
    &:nth-child(2) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: rem(46);
        height: rem(12);
        bottom: 27%;
        right: rem(-46);
        background: $default-color;
        z-index: -1;
        @include media-tablet {
          bottom: 60%;
          right: 100%;
          height: rem(8);
          width: rem(38);
        }
        @include media-mobile {
          height: rem(4);
        }
      }
    }
    &:last-child::after {
      @include media-tablet {
        content: '';
        display: block;
        position: absolute;
        width: rem(8);
        height: rem(246);
        bottom: 100%;
        right: 8%;
        background: $default-color;
        z-index: -1;
      }
      @include media-mobile {
        width: rem(4);
      }
    }
    @include media-tablet {
      width: 100%;
      position: absolute;
      margin-bottom: 0;
      &:first-child {
        right: 0;
        top: 12.5%;
      }
      &:nth-child(2) {
        right: 0;
        top: 40%;
      }
      &:last-child {
        right: 0;
        top: 69%;
      }
    }
    @include media-mobile {
      &:first-child {
        top: 14%;
      }
      &:nth-child(2) {
        top: 41.5%;
      }
      &:last-child {
        top: 70%;
      }
      @include media-custom(320px) {
        &:first-child {
          right: 0;
          top: 15.7%;
        }
        &:nth-child(2) {
          right: 0;
          top: 42.5%;
        }
        &:last-child {
          right: 0;
          top: 71%;
        }
      }
    }
  }
  &__photo {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}